google-cloud-dataproc==5.16.0
google-cloud-bigquery==3.29.0
google-api-python-client==2.159.0
ipykernel==6.22.0 # matches a pinned version in hail init_notebook.py
ipywidgets==8.0.6 # matches a pinned version in hail init_notebook.py
notebook==6.5.6 # matches a pinned version in hail init_notebook.py
nbconvert==7.3.1 # matches a pinned version in hail init_notebook.py
