name: dev release
on:
  workflow_run:
    workflows: ["unit tests"]
    types:
      - completed
    branches:
      - dev

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Build package
        run: |
          rm -rf dist/
          python -m pip install build
          python -m build

      - name: authenticate to google cloud
        id: "auth"
        uses: google-github-actions/auth@v0
        with:
          workload_identity_provider: "${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}"
          service_account: "${{ secrets.RUN_SA_EMAIL }}"

      - name: "setup gcloud sdk"
        uses: google-github-actions/setup-gcloud@v0

      - name: Copy files to release directory
        run: |-
          gcloud storage rm -r gs://seqr-luigi/releases/dev/latest/ || echo 'No latest release'
          gcloud storage cp v03_pipeline/bin gs://seqr-luigi/releases/dev/latest/bin/
          gcloud storage cp v03_pipeline/var gs://seqr-luigi/releases/dev/latest/var/
          gcloud storage cp dist/*.whl gs://seqr-luigi/releases/dev/latest/pyscripts.zip
